@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<body class="login w-100 h-100">
<div class="w-100 d-flex justify-content-center form-container">
    <div class="w-50 overflow-y-scroll align-content-center">
        <form id="account" method="post" class="w-100">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label fw-bold">Username:</label>
                <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label fw-bold">Password:</label>
                <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" placeholder="password"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox d-flex py-sm-0 py-lg-2 mb-3">
                <div>
                    <input class="form-check-input" asp-for="Input.RememberMe"/>
                    <label asp-for="Input.RememberMe" class="form-label">
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <button type="submit" class="btn btn-white ms-auto arrow-submit-right"></button>
            </div>
            <div>
                <p class="m-1">
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p class="m-1">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p class="m-1">
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
        </form>
    </div>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}