@import '_variables.scss';

.login{
  background-image: url('https://storage.googleapis.com/phygital-public/Login/Applicatie%20design%20rune%20%233.jpeg');
  background-size: 100% 100%;

  .form-container {
    max-height: 45vh;
    min-height: 45vh;
    padding-top: 4rem;
  }
}