@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="completed-page">
    <img src="https://storage.googleapis.com/phygital-public/Questions/question_complete.png" alt="check foto">
    <h2>Question saved!</h2>
    <p>De vraag is succesvol opgeslagen. Volg de instructies op het scherm om verder met de flow te gaan.</p>
</div>